*{
   margin: 0;
   padding: 0;
}

body{
   background: rgb(212, 206, 206);
}

.container{
   margin: 0 auto;
   width: 1220px;
   height: 700px;
   background: white;
   
}

.header-container{
   margin-top: 10px;
   padding-top: 20px;
}

.text-inner{
   display: flex;
}

h1{
   margin-left: 70px;
}

.perevious{
   width: 110px;
   height: 40px;
   background: rgb(92, 201, 92);
   border: none;
   border-radius: 5px;
   margin-left: 70px;
}

.class1{
   text-decoration: none;
   color: white;
}

.inner1{
   width: 100px;
   height: 40px;
   background: rgb(92, 201, 92);
   border: none;
   border-radius: 5px;
   margin-left: 850px;
}

hr{
   background: whitesmoke;
   width: 1100px;
   margin-left: 52px;
   margin-top: 30px;
}

h4{
   margin-left: 70px;
   margin-top: 30px;
   color: rgb(122, 120, 120);
}

h2{
   margin-left: 70px;
   margin-top: 30px;
}

.styles-text{
   display: flex;
   width: 1050px;
   height: 150px;
   border: 5px solid rgb(216, 213, 213);
   border-radius: 2px;
   margin-left: 70px;
   margin-top: 20px;
}

h3{
   margin-top: 25px;
   margin-left: 20px;
}

.custum123{
   margin-top: 25px;
   margin-left: 500px;
}

.region{
   margin-left: 20px;
   margin-top: 30px;
}



.text-region{
   margin-left: 500px;
   margin-top: 30px;
   width: 200px;
   height: 50px;
   background: rgb(105, 105, 230);
   color: white;
   border: none;
}

.try-it{
   width: 200px;
   height: 40px;
   background: rgb(92, 201, 92);
   border: none;
   border-radius: 5px;
   margin-left: 70px;
   margin-top: 25px;
}

.yourself{
   text-decoration: none;
   color: white;
}