* {
   margin: 0;
   padding: 0;
}

.container {
   width: 1240px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 50px;
   background: #f5eded;
}
.header-container {
   display: flex;
   align-items: center;
   background: #f5eded;
}
.imgs {
   display: inline-block;
}
.header-text {
   display: flex;
   margin-left: 20px;
   list-style-type: none;
}
.header-item-link {
   display: inline-block;
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   text-decoration: none;
   color: #7A7A7A;
   margin-left: 23px;
}
.header-text-inner {
   width: 38px 40px;
   display: inline-block;
   margin-left: 322px;
}
.header-text-next {
   width: 64px 40px;
   display: inline-block;
   margin-left: 31px;
}
.header-button {
   display: flex;
   width: 91px 21px;
   margin-left: 31px;
   border: none;
   background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
   border-radius: 5px;
   align-items: center;
}
.span {
   color: #285193;
}
.meain {
   margin-top: 5px;
}
.mein {
   display: inline-block;
   margin: 10px;
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF;
}
.next-second {
   width: 1200px;
   height: 68px;
}
.styles {
   margin-top: 21px;
   margin-left: 24px;
}
.next-second {
   background: #1E96C8;
   margin-top: 49px;
   margin-left: 140px;
}
.box-shedow {
   width: 1151px;
   display: flex;
   list-style-type: none;
   align-items: center;
   justify-content: space-between;
   padding: 21px 24px;
}
.header-inner {
   padding-top: 18px;
}
.rasim {
   margin-left: 140px;
   margin-top: 40px;
}
.new-place {
   width: 1200px;
   display: flex;
   margin-top: 45px;
   margin-left: 140px;
}
.new-style {
   display: flex;
   margin-left: 42px;
   margin-top: 42px;
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: #000000;
}
.hr {
   position: absolute;
   width: 2px;
   height: 74px;
   left: 525px;
   top: 384px;
   background: #EB5569;
   margin-top: 30px;
}
.virus {
   margin-top: 44px;
}
.box-shedow-link {
   text-decoration: none;
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 500;
   font-size: 19px;
   line-height: 23px;
   color: #515151;
}
.line {
   text-decoration: none;
}
.second {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: #000000;
   display: flex;
}
.page {
   display: flex;
}
.barrier {
   position: absolute;
   width: 2px;
   height: 74px;
   left: 525px;
   top: 384px;
   background: #EB5569;
}
.the-fourth {
   display: flex;
}
.info-section-inner {
   display: flex;
}
.first {
   margin-left: 20px;
}
.text-second {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 500;
   font-size: 17px;
   line-height: 20px;
   color: #202020;
}
.text-third {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #6B6D97;
}
.info-section-text {
   display: flex;
   margin-top: 18px;
}